{:aidbox
 {
  :image "healthsamurai/devbox:edge"
  ;; :image "healthsamurai/devbox:stable"
  ;; :image "healthsamurai/devbox:latest"
  :zen {:desc "Enable zen project"
        :enable true
        :entrypoint "mybox/box"
        :paths "/zrc"}
  :fhir "4.0.1"
  :host-port 8888
  :admin  {:id "admin" :password "secret"}
  :client {:id "root" :secret "secret"}
  :logs :stdout
  :config {:search {:timeout 10 :count 30}
           :debug  {:policy true}}}


 :db
 {:image "healthsamurai/aidboxdb:13.2"
  :user "postgres"
  :password "postgres"
  :database "devbox"
  :host-port 5437}

 :logging
 {:desc "Enable loging to Elastic"
  :type :elastic
  :enable false
  }

 :monitoring
 {:desc "Enable Prometheus monitoring"
  :enable false
  ;; :image "prom/prometheus:v2.30.3"
  }

 :apm
 {:desc "Enable Elastic APM"
  :enable false}

 :perf
 {:desc "Configure performance tests"
  :enabled false

  }}
