.patientItem {
  button {
    border: 0px;
    background-color: transparent;
    border-bottom: 1px dotted;
    padding: 0;
    // margin: 5px 0;
  }
}

.curPatientItem {
  button {
    font-weight: bold;
  }
}
