@import '~ehrSrc/styles/mixins';

.buttons {
  @include clearfix;

  button + button {
    margin-left: 5px;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.deleteBtn {
}
.closeBtn {
}
.cancelBtn {
}
.submitBtn {
}
.editBtn {
}
