@import '~ehrSrc/styles/mixins';

.patientInfoForm {
  width: 580px;
}
.formGroup {
  line-height: 34px;
  @include clearfix;
}
.formGroup .left {
  float: left;
}
.formGroup .right {
  margin-left: 10px;
  width: 340px;
  float: right;

  > input, > select {
    height: 34px;
    width: 100%;
    margin-bottom: 20px;
  }

  > button {
    // height: 24px;
    margin-bottom: 20px;
  }
}
