@import '~ehrSrc/styles/variables';
@import '~ehrSrc/styles/mixins';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}
body {
  font-family: 'Roboto', sans-serif;
}

.mt-0 {
  margin-top: 0 !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.clearfix {
  @include clearfix;
}

button .fa {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
