{:config {:logLevel :info      ;; One of -  :trace :debug :info :warn :error :fatal
          :_totalMethod :count ;; Default - :count , nil for disable counting
          }
 :import {:fhir-3.1 {}         ;; Available FHIR versions: fhir-1.0.2 fhir-1.1.0 fhir-1.4.0 fhir-1.8.0 fhir-3.0.1 fhir-3.2.0 fhir-3.3.0
          :oauth {}
          ;; :icd-10 {}
          ;; :fhirterm-3.3.0 {}
          }}
