{:config {:logLevel :info      ;; One of -  :trace :debug :info :warn :error :fatal
          :_totalMethod :count ;; Default - :count , nil for disable counting
          }
 :import {;; Different modules can be used.
          ;; Usually module enabe terminology.
          ;; :icd-10 {}
          }}
